<form
  id="questionnaire"
  [formGroup]="quizForm">
  <div
    *ngFor="let question of questionArray.controls; let i = index">
    <app-question
      [number]="i"
      [question]="questions[i]"
      [quizFormControl]="getFormControlQuestion(question)"
    ></app-question>
  </div>

  <div id="footer">
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!quizForm.valid">Soumettre</button>
    <span *ngIf="score">{{score.toString() | abbreviate: 3: ''}} / {{questions.length}}</span>
    <span *ngIf="score"> Répondu en {{ timeStart | time }} secondes</span>
  </div>
</form>
