#questionnaire {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  padding: 2rem;
}

#footer {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 2rem;
}
