<div id="card" [ngStyle]="{'color': quizFormControl.hasError('wrongAnswer') ? 'red' : null }">

  <h2>Question : {{ number + 1 }}</h2>
  <p class="text-question">{{ question.text }}</p>

  <form>
    <mat-selection-list [disableRipple]="true" [multiple]="question.isMultipleResponse" [formControl]="quizFormControl">
      <mat-list-option *ngFor="let response of question.response" [value]="response">
        {{response.choice}}
      </mat-list-option>
    </mat-selection-list>

    <mat-error *ngIf="quizFormControl.hasError('wrongAnswer')">
      <strong>Wrong Answer</strong>
    </mat-error>
  </form>
</div>
