<div class="page">
  <button mat-button (click)="switchToLogin(true)" *ngIf="!isLogin">
    <mat-icon>arrow_back</mat-icon>
    Login
  </button>


  <div class="card">
    <h1 *ngIf="isLogin"> Inscription </h1>
    <h1 *ngIf="!isLogin"> Register </h1>

    <form [formGroup]="loginForm">
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input
          type="email" matInput
          [formControlName]="'email'"
          placeholder="Ex. pat@example.com">
        <mat-error *ngIf="getFormControl('email').hasError('email') && !getFormControl('email').hasError('required')">
          Please enter a valid email address
        </mat-error>
        <mat-error *ngIf="getFormControl('email').hasError('required')">
          Email is <strong>required</strong>
        </mat-error>
      </mat-form-field>


      <mat-form-field *ngIf="!isLogin">
        <mat-label>Username</mat-label>
        <input
          type="email" matInput
          [formControlName]="'username'"
          placeholder="Username">
        <mat-error *ngIf="getFormControl('username').hasError('required')">
          Username is <strong>required</strong>
        </mat-error>
      </mat-form-field>



      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password" matInput
          [formControlName]="'password'"
          placeholder="Password">
        <mat-error *ngIf="getFormControl('password').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
      </mat-form-field>

      <mat-form-field *ngIf="!isLogin">
        <mat-label>Password again</mat-label>
        <input
          type="password" matInput
          [formControlName]="'verifyPassword'"
          placeholder="Password again">
        <mat-error *ngIf="getFormControl('verifyPassword').hasError('required')">
          Password is <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="getFormControl('verifyPassword').hasError('notSame')">
          Password is <strong>different</strong>
        </mat-error>
      </mat-form-field>


      <mat-error *ngIf="loginForm.hasError('noUser')">
        Wrong Email or Password
      </mat-error>

      <button *ngIf="isLogin" mat-raised-button (click)="loginUser()" color="primary" [disabled]="!loginForm.valid"> Login User </button>
      <button *ngIf="!isLogin" mat-raised-button (click)="registerUser()" color="primary" [disabled]="!loginForm.valid"> Register </button>
    </form>
  </div>

  <button mat-button (click)="switchToLogin(false)" *ngIf="isLogin">
    <mat-icon>arrow_forward</mat-icon>
    Register
  </button>

</div>

