.page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.card, form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.card {
  padding: 2rem;
  box-shadow: 0 0 1rem 0 rgba(0,0,0,1);
}
