<mat-toolbar color="primary">
  <span>QuizzLearn</span>
</mat-toolbar>

<form
  id="questionnaire"
  [formGroup]="quizForm">
  <div
    *ngFor="let question of questionArray.controls; let i = index">
    <app-question
      [number]="i"
      [question]="question.value"
      (responseEmitter)="getSelectedResponseControl(question)?.setValue($event)"
    ></app-question>
  </div>

  <div id="footer">
    <button mat-raised-button color="primary" (click)="submit()" [disabled]="!quizForm.valid">Soumettre</button>
    <span *ngIf="score">{{score}} / {{questions.length}}</span>
  </div>
</form>

